:root {
  --section-paragraf-color: #757575;
  --section-title-color: #212121;
  --color-letter-white: #ffffff;
  --color-letter-blue: #2196f3;
  --active-link-color: #188ce8;
  --color-background: #2f303a;
  --font-family: "Roboto", sans-serif;
  --font-family-header: "Raleway", sans-serif;
}
.header {
  border-bottom: 1px solid #ececec;
}
ul {
  list-style: none;
}
.body {
  font-family: var(--font-family);
}
p {
  font-style: normal;
}
/* Глобальный сброс стилей по селектору тега, то чтоне входит в нормалайз */
a {
  text-decoration: none;
  cursor: pointer;
  /* display: block; */
}
button {
  cursor: pointer;
  direction: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
  /* display: block; */
}
/* Эффекты для интерактивных элементов */
.header-link:hover,
.heder-link:active,
.heder-link:focus {
  color: var(--color-letter-blue);
}
/* Ссылки в шапке */
.header-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--section-title-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-portfolio {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-letter-blue);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link-studio-portfolio {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--section-title-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-studio-portfolio:hover,
.header-link-studio-portfolio:active,
.header-link-studio-portfolio:focus {
  color: var(--color-letter-blue);
}
.header-link-mail {
  display: flex;
  align-items: center;
  color: var(--section-paragraf-color);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-mail:hover,
.heder-link-mail:active,
.heder-link-mail:focus {
  color: var(--color-letter-blue);
}
.header-link-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--section-paragraf-color);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-tel:hover,
.heder-link-tel:active,
.heder-link-tel:focus {
  color: var(--color-letter-blue);
}
/* Подсветка Ссылки Студия */
.header-link-studio {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-letter-blue);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link-portfolio {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-letter-blue);
}
/* Фокус логотипа */
.logo:focus {
  color: var(--active-link-color);
  font-family: var(--font-family-header);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: calc (26 / 31);
}
/* Часть цвета логотипа */
.color-logo-web {
  color: var(--color-letter-blue);
  font-family: var(--font-family-header);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: cal (26 / 31);
}
.color-logo-studio {
  color: var(--section-title-color);
  font-family: var(--font-family-header);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: cal (26 / 31);
}

/* Секция 1 */
.section-1 {
  font-family: var(--font-family);
  color: var(--color-letter-white);
  font-style: normal;
  font-weight: 900;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--color-background);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
}
/* Заголовок h1 */
.section-title-1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color-letter-white);
  max-width: 696px;
  margin: 0 auto 30px auto;
}
/* Абзацы */
.section-paragraf {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
}
.section-paragraf-portfolio {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
}
.section-paragraf-1 {
  font-weight: 400;
  color: var(--section-paragraf-color);
  line-height: calc(30 / 16);
  font-size: 14px;
  /* width: 322px;
  height: 30px;
  left: 239px;
  top: 1050px; */
  /* padding-top: 10px; */
  letter-spacing: 0.03em;
  text-align: center;
}
.title-our-team {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--section-title-color);
  text-align: center;
  margin-bottom: 10px;
}
/* Секция заголовка "Чем мы занимаемся" */
.title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;

  text-transform: uppercase;
  color: var(--section-title-color);
}
.title-1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: var(--section-title-color);
}

.title-2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: var(--section-title-color);
}

.title-3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: var(--section-title-color);
}

.title-4 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: var(--section-title-color);
}
/* --------------Секция чем мы занимаемся-------------- */

.section-title-2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-title-color);
  margin-bottom: 50px;
}
.section-title-3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-title-color);
  margin-bottom: 50px;
}
.title-img {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  color: var(--section-title-color);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
/* Подвал */
.footer {
  background-color: var(--color-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
/* .container-footer {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
} */
.address-link:hover {
  color: var(--color-letter-blue);
}
.address-link:active {
  color: var(--section-paragraf-color);
}
.address-link:focus {
  color: var(--color-letter-white);
}
/* Секция адреса */
.logo-address {
  margin-bottom: 20px;
}
.about-address {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-letter-white);
}
.address-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-letter-white);
  margin-bottom: 9px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link-maps {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-letter-white);
  padding-bottom: 9px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link-maps:hover {
  color: var(--color-letter-blue);
}
.address-link-maps:active {
  color: var(--active-link-color);
}
.address-link-maps:focus {
  color: var(--section-paragraf-color);
}
.address-link-mail {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  display: block;
  margin-top: 9px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link-mail:hover {
  color: var(--color-letter-blue);
}
.address-link-mail:active {
  color: var(--active-link-color);
}
.address-link-mail:focus {
  color: var(--color-letter-white);
}
.address-link-tel {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link-tel:hover {
  color: var(--color-letter-blue);
}
.address-link-tel:active {
  color: var(--active-link-color);
}
.address-link-tel:focus {
  color: var(--color-letter-white);
}
/* Кнопки */
.section-btn-1 {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06px;
  color: var(--color-letter-white);
  line-height: calc(30 / 16);
  background: var(--color-letter-blue);
  border-radius: 4px;
  border: none;

  min-width: 200px;
  min-height: 50px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-btn-1:hover,
.section-btn-1:focus {
  background-color: var(--active-link-color);
}
.btn-grey:hover,
.btn-grey:focus {
  background-color: var(--color-letter-blue);
  color: var(--color-letter-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-blue {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06px;
  color: var(--color-letter-white);
  line-height: calc(30 / 16);
  background: var(--color-letter-blue);
  border-radius: 4px;
  border: none;

  min-width: 73px;
  min-height: 38px;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-blue:hover,
.btn-blue:focus {
  background-color: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section-btn {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06px;
  color: var(--color-letter-white);
  line-height: calc(30 / 16);
  background: var(--color-letter-blue);
  border-radius: 4px;
  border: none;
  margin-bottom: 200px;

  display: inline-block;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-btn:hover,
.section-btn:focus {
  background-color: var(--active-link-color);
}

.btn-grey {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-title-color);
  background: #f5f4fa;
  min-width: 128px;
  min-height: 38px;
  border-radius: 4px;
  border: none;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Вторая секция с текстом */
.section-2 {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* <!-- Наша команда--> */
.section-our-team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}
/* Цвет части логотипа в футере */
.color-logo-studio-address {
  color: var(--color-letter-white);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: cal (26 / 31);
}

/* --------Блочная модель-------- */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid #bb0505; */
}

/* !!!!ЭТО РОДИТЕЛЬ ГЛАВНОГО МЕНЮ НАВИГАЦИИ ВСЕХ ССЫЛОК И КНОПОК, СВОЙСТВО
  align-items: center; СТАВИТ ИХ В ГОРИЗОНТАЛЬНОЕ ПОЛОЖЕНИЕ ОТНОСИТЕЛЬНО ГЛАВНОЙ ОСИ!!!!! */
.header-nav {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
.categories-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: 93px;
}
.categories-list .item:not(:last-child) {
  margin-right: 0;
}
.item {
  margin-left: 50px;
}

/* Расположение контактов */

.categories-contact {
  display: flex;
  margin-left: auto;
}
/* Крайняя геометрия, во избежание выпадения списка из меню */
.categories-list .categories-contact-tel:not(:last-child) {
  margin-right: 0;
}
.categories-contact-mail {
  margin-right: 50px;
}

.img-1 {
  padding-bottom: 94px;
}

/* Страничка портфолио кнопки */
.main-buttons {
  padding-bottom: 94px;
  padding-top: 94px;
}

.main-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.main-btn-item {
  display: inline-block;
  align-items: center;
}
/* Задаем отступы между кнопками всех кроме последнего */

.main-btn .main-btn-item:not(:last-child) {
  margin-right: 8px;
}
.section-btn {
  display: inline-block;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
}
/* Студия Список абзацев*/
.action-list {
  display: flex;
  flex-wrap: wrap;
}
.list {
  margin-right: 30px;
  width: 270px;
}

.action-list .list:last-child {
  margin-right: 0px;
}

/* Студия чем мы занимаемся - 3 фото расположение flex */

.child-photo {
  display: flex;
  flex-wrap: wrap;
}
.list-photo {
  margin-right: 30px;
  width: 370px;
}
.child-photo .list-photo:last-child {
  margin-right: 0px;
}

/* Студия команда */

.team {
  display: flex;
  /* flex-wrap: wrap; -здесь не нужен потому что из-за него элементы перепрыгивают на соседнюю строку*/
}
.list-team {
  margin-right: 30px;
  background: var(--color-letter-white);
  border-bottom: #212121;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.team .list-team:last-child {
  margin-right: 0px;
}

.section-paragraf-1 {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
  text-align: center;
  /* width: 270px;
  height: 75px;
  left: 215px;
  top: 800px; */
}

.section-paragraf-2 {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
  text-align: center;
  /* padding: 10px 61px 30px 62px;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px; */
}

.section-paragraf-3 {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
  text-align: center;
  /* padding: 10px 97px 30px 97px;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px; */
}

.section-paragraf-4 {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
  text-align: center;
}
.list-img {
  display: flex;
  flex-wrap: wrap;
  /* width: 1230px;
  padding-left: 15px;
  padding-right: 15px; */
}

.list-img > .images {
  background: #ffffff;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.list-img .images:last-child {
  margin-right: 0px;
}
.list-img .images:nth-child(-n + 3) {
  margin-top: 0;
}
.list-img .images:nth-child(3n + 1) {
  margin-left: 0;
}

.im-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.im-link:hover,
.im-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.our-team-text {
  padding: 30px 20px 30px 20px;
}
.text-img {
  padding: 20px 24px 20px 24px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.static-clients-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  margin-bottom: 50px;
}
.static-clients-ul {
  display: flex;
  align-items: center;
}
.companies {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  margin-right: 30px;
  fill: #afb1b8;

  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.companies:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.static-clients-list:last-child {
  margin-right: 0px;
}
.static-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* __________Соц сети_________ */
.network-ul-list {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
  margin: auto;
  fill: #afb1b8;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.network-link:hover {
  background-color: #188ce8;
  fill: white;
}

.network-link .social-network:hover {
  fill: white;
  background-color: #188ce8;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.li-list {
  margin-right: 10px;
}
.li-list:last-child {
  margin-right: 0px;
}
/*  -------------------Секция в футере---------------------- */
.title-footer {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.network-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.network-link-footer:hover {
  background-color: #188ce8;
}
.social-network-footer {
  fill: white;
}
.network-ul-list-1 {
  display: flex;
}
.section-footer-left {
  margin-right: 70px;
}
.footer-sections {
  display: flex;
  align-items: baseline;
}
.mail-svg {
  fill: currentColor;
}
.mail-svg:hover {
  fill: #188ce8;
}
.mail-svg {
  margin-right: 10px;
}
.tel-svg {
  fill: currentColor;
}
.tel-svg:hover {
  fill: #188ce8;
}
.tel-svg {
  margin-right: 10px;
}
.svg-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  margin-bottom: 30px;
}
/* -----------Позиционирование------------ */

/* -----------Голубая маленькая линия в хедере--------------- */
.current-studio {
  position: relative;
  color: #2196f3;
}
.current-studio::after {
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 2px;
  position: absolute;
  background-color: #2196f3;
  left: 0px;
  bottom: 0px;
}
.current-portfolio {
  position: relative;
  color: #2196f3;
}
.current-portfolio::after {
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 2px;
  position: absolute;
  background-color: #2196f3;
  left: 0px;
  bottom: 0px;
}
/* ----------Выплывающий текст над секцией---------- */
.images:hover .masters-img-text {
  transform: translateY(0);
}
.masters-item-wrap {
  position: relative;
  overflow: hidden;
}

.masters-img-text {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: var(--font-family);
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);

  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* -----------Modalka------------- */
.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}
.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 40px;
}

.close-modal {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
.close-modal:hover .img-close-modal {
  fill: #188ce8;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/*---Секция чем мы занимаемся черные линии с текстом поверх картинки--*/

.prg-photo {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  padding-top: 27px;
  text-align: center;
  height: 70px;
  width: 370px;
  transform: translateY(0%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.div-photo {
  position: relative;
}
/* overflow: hidden;
} */

/* ------------ФОРМА--------------- */
.modal-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}
.form-field {
  margin-bottom: 10px;
}
.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid #999999;
  border-radius: 4px;
  color: #000000;
  outline: none;
}
.form-input:focus {
  border-color: #2196f3;
}
/* ---------------Позиционирование иконок плейсхолдера------------- */
.input-wrap {
  position: relative;
}
.icon-people {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: #000000;
}
.icon-trubka {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}
.form-input:focus + .icon-trubka {
  fill: #188ce8;
}
.icon-konvert {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}
.form-input:focus + .icon-konvert {
  fill: #188ce8;
}
.form-input::placeholder {
  color: grey;
  position: absolute;
  bottom: 0;
}
.form-input:focus + .icon-people {
  fill: #188ce8;
}
.input-text {
  font-size: 12px;
  color: grey;
  display: block;
  margin-bottom: 5px;
}

.form-text {
  width: 100%;
  height: 100px;
  border: 1px solid#999999;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  resize: none;
  outline: none;
}
.form-text:focus {
  border-color: #2196f3;
}
.field {
  border: 1px solid black;
  border-radius: 5px;
}
.btn-send {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06px;
  color: var(--color-letter-white);
  line-height: calc(30 / 16);
  background: var(--color-letter-blue);
  border-radius: 4px;
  border: none;
  margin-top: 30px;

  min-width: 200px;
  min-height: 50px;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover,
.btn-send:focus {
  background: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-send {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dogovir {
  padding-left: 10px;
}
.link-dogovir {
  color: #2196f3;
  text-decoration: underline;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  min-width: 200px;
}
.dogovir-label {
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  margin-left: 20px;
  /* min-width: 50px; */
}
.icon-people {
  fill: black;
}
.section-input-footer {
  margin-left: 93px;
  position: relative;
}
.btn-podpiska {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06px;
  color: var(--color-letter-white);
  line-height: calc(30 / 16);
  background: var(--color-letter-blue);
  border-radius: 4px;
  border: none;
  transform: translateX(185%);
  padding: 0 62px 0 29px;

  min-width: 200px;
  min-height: 50px;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-podpiska:hover {
  background: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img-podpiska {
  position: absolute;
  top: auto;
  right: 20px;
  fill: #ffffff;
}
.input-e-mail {
  position: absolute;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  min-width: 358px;
  min-height: 50px;
}
.label-e-mail {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc (16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.input-e-mail {
  padding-left: 16px;
  color: #ffffff;
}
/* --------------------Чекбокс----------------------- */
.checkbox {
  appearance: none;
  position: absolute;
}
.label {
  display: flex;
  align-items: center;
}
.icon {
  content: "";
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  position: absolute;

  border: 2px solid black;
  border-radius: 4px;
}
.checkbox:checked + .icon {
  background-color: var(--color-letter-blue);
  background-image: url(../img/ch.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--color-letter-blue);
}
