.categories-contact {
  display: flex;
  margin-left: auto;
}
.categories-list .categories-contact-tel:not(:last-child) {
  margin-right: 0;
}
.categories-contact-mail {
  margin-right: 50px;
}
.mail-svg {
  margin-right: 10px;
  fill: currentColor;
  &:hover {
    fill: #188ce8;
  }
}
.tel-svg {
  margin-right: 10px;
  fill: currentColor;
  &:hover {
    fill: #188ce8;
  }
}

/* -----------Голубая маленькая линия в хедере--------------- */
.current-studio {
  position: relative;
  color: #2196f3;
  &::after {
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 2px;
    position: absolute;
    background-color: #2196f3;
    left: 0px;
    bottom: 0px;
  }
}
.current-studio .current-portfolio {
  position: relative;
  color: #2196f3;
}
.current-portfolio::after {
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 2px;
  position: absolute;
  background-color: #2196f3;
  left: 0px;
  bottom: 0px;
}
.categories-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: 93px;
}
.categories-list .item:not(:last-child) {
  margin-right: 0;
}
.item {
  margin-left: 50px;
}
.header-nav {
  @extend %flex-align;
}
.main-nav {
  @extend %flex-align;
}
/* Эффекты для интерактивных элементов */
/* Ссылки в шапке */
.header-link {
  @include fonts(var(--font-family), normal, 500, 14px, calc(16 / 14), 0.02em);
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--section-title-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: var(--color-letter-blue);
  }
}

.header-link-portfolio {
  @include fonts(var(--font-family), normal, 700, 14px, calc(16 / 14), 0.02em);
  color: var(--color-letter-blue);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link-studio-portfolio {
  @include fonts(var(--font-family), normal, 500, 14px, calc(16 / 14), 0.02em);
  color: var(--section-title-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover,
  &:active {
    color: var(--color-letter-blue);
  }
}
.header-link-mail {
  @extend %flex-align;
  color: var(--section-paragraf-color);
  @include fonts(var(--font-family), normal, 500, 14px, calc(16 / 14), 0.02em);
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover,
  &:active {
    color: var(--color-letter-blue);
  }
}

.header-link-tel {
  @extend %align-list;
  color: var(--section-paragraf-color);
  @include fonts(var(--font-family), normal, 700, 14px, calc(16 / 14), 0.02em);
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover,
  &:active {
    color: var(--color-letter-blue);
  }
}

/* Подсветка Ссылки Студия */
.header-link-studio {
  @include fonts(var(--font-family), normal, 700, 14px, calc(16 / 14), 0.02em);
  color: var(--color-letter-blue);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link-portfolio {
  @include fonts(var(--font-family), normal, 700, 14px, calc(16 / 14), 0.02em);
  color: var(--color-letter-blue);
}
/* Фокус логотипа */
.logo:focus {
  color: var(--active-link-color);
  @include fonts(var(--font-family-header), normal, bold, 26px, calc(26 / 31));
}
/* Часть цвета логотипа */
.color-logo-web {
  color: var(--color-letter-blue);
  @include fonts(var(--font-family-header), normal, bold, 26px, calc(26 / 31));
}
.color-logo-studio {
  color: var(--section-title-color);
  @include fonts(var(--font-family-header), normal, bold, 26px, calc(26 / 31));
}
