.section-1 {
  @include fonts(var(--font-family), normal, 900, calc(60 / 44), 0.06em);
  color: var(--color-letter-white);
  text-align: center;
  text-transform: uppercase;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--color-background);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
}
/* Заголовок h1 */
.section-title-1 {
   @include fonts(var(--font-family), normal, 900, 44px, calc(60 / 44), 0.06em);
  text-align: center;
  text-transform: uppercase;
  color: var(--color-letter-white);
  max-width: 696px;
  margin: 0 auto 30px auto;
}
.img-1 {
  padding-bottom: 94px;
}
