.section-input-footer {
  margin-left: 93px;
  position: relative;
}
.label-e-mail {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  @include fonts(Roboto, normal, bold, 14px, calc(16 / 14), 0.03em);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.input-e-mail {
  padding-left: 16px;
  color: #ffffff;
}
